@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titan+One&display=swap');

hr {
    width: 100%;
}

.container {
    margin: -10px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: white; 
    font-family: "Roboto";
}

.container__header {
    line-height: 5px;
}

.container__header :nth-child(2) {
    color: rgb(65, 131, 255);
    font-size: 25px;
    font-family: "Titan One", sans-serif;
}

.container__header :last-child {
    color: rgb(207, 0, 138);
}

.container__header--img {
    padding: 5px;
    margin: 40px auto;
    padding: 5px;
    border-radius: 30px;
    background-image: linear-gradient(to right,rgb(207, 0, 138), rgb(65, 131, 255));
}

.container__header--img img{
    max-width: 200px;
}

.header--back {
    margin: -10px;
    padding: 30px 20px 45px;
    background-image: linear-gradient(to right, rgb(207, 0, 138), rgb(65, 131, 255));
    margin-bottom: -15px;
    z-index: -1;
}

.header--box {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.header--box img {
    width: 100%;
    min-width: 90px;
    margin: auto;
}

.header--box p {
    font-family: "Titan One", sans-serif;
    font-size: 32px;
}

.container__body {
    display: grid !important;
    grid-template-columns: 1fr !important;
    row-gap: 20px;
}

.container__body > input, .container__body select {
    height: 45px;
    padding: 15px;
}

.container__body--submit {
    border: none;
    background-color: rgb(65, 131, 255);
    color: white;
    border-radius: 10px;
}

.container__body--user {
    display: flex;
}

.container__body--item {
    display: grid;
    text-decoration: none;
    color: rgb(113, 113, 113);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(211, 201, 201, 0.288);
}

.container__body--item img, .container__body--user img {
    max-width: 100px;
    justify-self: center;
}

.container__body--item p:nth-child(2), .container__body > label, .left {
    text-align: left;
}

.container__body--item :is(p:last-child, span) {
    text-align: right;
}

.header--box p span, .container__body--item :is(p:last-child span, span) {
    font-size: 25px;
}

.left {
    margin-left: 20px;
}